body{
	
	background-image: url("https://vignette.wikia.nocookie.net/shrek/images/c/cc/Shrek_smiling.jpg/revision/latest?cb=20130413033028");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:40px 50px;
	
	}
	

h1{
		background-color:yellow;
		color:red;
 
}
p{
	background-color:green;
	color:yellow;